<h1 mat-dialog-title>Dodaj jednostkę</h1>
<mat-divider></mat-divider>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Liczba mililitrów</mat-label>
      <input matInput formControlName="value" placeholder="2137 ml" required>
      <mat-error *ngIf="form.controls['value'].invalid">Wartość musi być numeryczna</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="cancelDialog()">Anuluj</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.controls['value'].errors">Dodaj</button>
  </div>
</form>
