<ng-container *ngIf="orders$ | async as orders; else spinner">
  <ng-container *ngIf="orders.length !== 0; else noOrders">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8" style="margin-bottom: 1rem;">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Nr. </th>
        <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa klienta </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
      </ng-container>
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Zamówienie </th>
        <td mat-cell *matCellDef="let element"> <ul>
          <li *ngFor="let item of element.items">smak {{item.taste}} - {{ item.amount | iceAmount }}</li>
        </ul> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <ng-template #noOrders><h3>Brak zamówień na jutro :(</h3></ng-template>
</ng-container>
<ng-template #spinner >
  <mat-spinner></mat-spinner>
</ng-template>
