
  <div class="container-fluid">
    <div class="row d-flex justify-content-center" style="height: 100vh;">
      <div class="col-auto">
        <div class="text-center" style="font-size: 60px; margin-top:50px; margin-bottom: 50px;">🍨</div>
        <p class="text-center">No i zrób mi kurcze...</p>
        <h1 class="text-center">Louda</h1>
        <div class="example-container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="admin@admin.pl" formControlName="email">
                <mat-error *ngIf="form.controls['email'].invalid">Niepoprawny adres email</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input matInput type="password" placeholder="admin123" formControlName="password">
                <mat-error *ngIf="form.controls['password'].invalid">Hasło zbyt krótkie</mat-error>
              </mat-form-field>
            </div>
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="form.controls['email'].errors || form.controls['password'].errors">Zaloguj się</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

