<div class="text-end">
  <button mat-raised-button color="primary" (click)="loadLastOrder()" [disabled]="customerLastOrderDate === null">Załaduj ostatnie zamówienie</button>
</div>

<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <h2>Dodaj smaki oraz ilość</h2>

  <div formArrayName="formItems">
    <div *ngFor="let itm of formItems.controls; let i = index; let first = first; let last = last">

      <div [formGroupName]="i">

        <ng-container *ngIf="possibleTastes$ | async as possibleTastes">
          <mat-form-field appearance="fill" style="margin-right: 1rem; width: 8rem;">
            <mat-label>Smak</mat-label>
            <mat-select formControlName="taste" name="taste">
              <mat-option ngDefaultControl *ngFor="let taste of possibleTastes"
              formControlName="taste" [value]="taste">
                {{taste}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formItems.controls[i].get('taste')?.invalid">Wybierz smak</mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="possibleUnits$ | async as possibleUnits">
          <mat-form-field appearance="fill" style="margin-right: 1rem; width: 8rem;">
            <mat-label>Jednostka</mat-label>
            <mat-select formControlName="unit" name="unit">
              <mat-option ngDefaultControl *ngFor="let unit of possibleUnits" [value]="unit">
                {{unit | iceAmount}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formItems.controls[i].get('unit')?.invalid">Wybierz jednostkę</mat-error>
          </mat-form-field>
        </ng-container>

        <mat-form-field class="example-margin example-width" appearance="fill" style="margin-right: 1rem; width: 8rem;">
          <mat-label>Liczba</mat-label>
          <input matInput formControlName="quantity" type="number" >
          <mat-error *ngIf="formItems.controls[i].get('quantity')?.invalid">Tylko liczby całkowite dodatnie</mat-error>
        </mat-form-field>

        <button *ngIf="!first" mat-flat-button type="button" color="primary" (click)="removeFormItem(i)" style="margin-right: 1rem;">-</button>
        <button *ngIf="last" mat-flat-button type="button" color="primary"  (click)="addFormItem()" style="margin-right: 1rem;">+</button>
        <button mat-flat-button color="primary" type="button" (click)="addToFavourites(i)" style="margin-right: 1rem;" [disabled]="formItems.controls[0].invalid">
          <mat-icon>favorite</mat-icon>
        </button>

        <ng-container *ngIf="possibleFavourites$ | async as possibleFavourites">
          <ng-container *ngIf="possibleFavourites.length > 0">
            <mat-form-field appearance="fill" style="width: 4rem">
              <mat-label><mat-icon>favorite</mat-icon></mat-label>
              <mat-select >
                <mat-option ngDefaultControl *ngFor="let favourite of possibleFavourites" (click)="chooseFavourite(i, favourite)">
                  Smak {{favourite.taste}} - {{favourite.unit | iceAmount}} * {{favourite.quantity}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>

      </div>

    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="formItems.invalid">Zamów</button>
  </div>

</form>
