<ng-container *ngIf="summedUpOrders$ | async as summedUpOrders; else spinner">
  <ng-container *ngIf="summedUpOrders.length !== 0; else noOrders">
    <table mat-table [dataSource]="summedUpOrders" class="mat-elevation-z8" style="margin-bottom: 1rem;">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Nr. </th>
        <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="taste">
        <th mat-header-cell *matHeaderCellDef> Nazwa smaku </th>
        <td mat-cell *matCellDef="let element"> {{element.taste}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Ilość </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}}ml </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <ng-template #noOrders><h3>Brak zamówień na jutro :(</h3></ng-template>
</ng-container>
<ng-template #spinner >
  <mat-spinner></mat-spinner>
</ng-template>
